.DS_Store
.idea
*.log
tmp/

result*

#if clj
.clj-kondo/
.cpcache/
.calva/
.nrepl-port
.lsp/
#endif
#if (or gleam erlang)
*.beam
*.ez
/build
erl_crash.dump
#endif
#if haskell
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
#endif
